<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
     
      <!--CASA-->
     
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=DESKTOP-BI5616B\SQLEXPRESS;Initial Catalog=TRAUT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
     
      <!-- traut viejo servidor conexion sa-->
      <!--
            <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
      connectionString="Data Source=OFICINA-2;Initial Catalog=TRAUT;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" /> 
         -->
      
      <!-- traut Nuevo Servidorconexion sa-->
      <!--
            <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
      connectionString="Data Source=SERVIDOR;Initial Catalog=TRAUT;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" /> 
      -->
      
    </connectionStrings>
</configuration>